.sections {
  color: #a5a5a5;

  .sectionsUl {
    display: flex;
    list-style: none;
    gap: 20px;
    li {
      cursor: pointer;
      padding: 4px;
      border: 1px solid rgba(0, 0, 0, 0);
      &:hover,
      &:active {
        overflow: hidden;
        border-color: black;
      }
    }
  }
}
